npm-debug.log
yarn-error.log
lerna-debug.log
node_modules
lib
esm
es6
coverage/
docs/_site/
packages/toggle/docs
packages/**/mathdoy-toggle-*.tgz
examples/**/static
examples/**/dist
examples/**/build
cypress/videos
cypress/screenshots
